@import url(//db.onlinewebfonts.com/c/2596224269750e00c3ad5356299a3b9f?family=Ogg);

.position {
    position: absolute;
    width: 100%;
    top: 50vh;
    left: 0px;
}

.position-relative {
    position: relative;
}

/* .ul slider-list {
    cursor: default !important;
} */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-red {
    color: red;
}

.font-white {
    color: white
}

.title {
    font-size: 5.5vw;
}

.title span::before {
    content: "30%";
    animation: percentage 3s linear infinite;
}

.text-button {
    cursor: pointer;
    font-size: 18px;
}

.text-button:hover {
    text-decoration: underline;
}

.image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image-logo {
    width: 15%;
    height: auto;
}

.image-logo img{
    width: 100%;
    height: auto;
}

.animation-wrapper {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    overflow: hidden;
}

.animation-text {
    animation-duration: 10s;
    animation-name: slidetext;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slidetext {
    from {
        position: relative;
        left: 100%;
    }
    to {
        position: relative;
        left: -100%
    }
}

@keyframes percentage {
    0% {
        content: "30%";
    }
    50% {
        content: "40%";
    }
    100% {
        content: "50%";
    }
}


.video {
    width: 100%;
    height: auto;
}

.video-title {
    font-size: 6.5vw;
    font-weight: 400;
    font-family: Ogg, serif;
}

.wrapper-buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.lazy-carousel {
    min-height: 100vh;
}

.dots-carousel {
    color: white;
    border-color: 1px solid black;
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.grid2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid2x2 img{
    width: 100%;
    height: auto;
}

.grid-2-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1170px) {
    .grid-2-col {
        display: flex;
        flex-direction: column;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.card-text {
    font-size: 1.1vw;
}
@media (max-width: 1170px) {
    .card-text {
        font-size: 2.3vw;
    }
}

.card-link {
    cursor: pointer;
    font-size: 18px;
}

